<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <script src="../static/js/script.js"></script>
</head>
<body>
    <div class="wrapper">
    <a href='https://www.pik.ru/'><img src='logo.svg' width="75" height="23" alt="www.pik.ru"></a>
    <div class="column1">
        <h1>Выберите тип сантехнического узла:</h1>
            <form>
                <label>
                    <select class="box" id="select">
                        <option value="select-block-1" selected="selected">Гостевой</option>
                        <option value="select-block-2">Хозяйский</option>
                        <option value="select-block-3">Спаренный</option>
                    </select>
                </label>
            </form>


    <div id="select-block-1" class="select-blocks" style="display:none">
        <h1>Введите координаты центра вывода и диаметр:</h1>
            <form>
                <p>Туалет</p>
                    <p>
                          <label for="toilet_d"></label>
                          <input type="number" name="toilet_d" placeholder="d" id="toilet_d" class="form">
                    </p>
                    <p>
                          <label for="toilet_z"></label>
                          <input type="number" name="toilet_z" placeholder="z" id="toilet_z" class="form">
                    </p>
                    <p>
                          <label for="toilet_y"></label>
                          <input type="number" name="toilet_y" placeholder="y" id="toilet_y" class="form">
                    </p>
                    <p>
                        <label for="toilet_x"></label>
                        <input type="number" name="toilet_x" placeholder="x" id="toilet_x" class="form">
                    </p>

                <p>Раковина</p>
                    <p>
                          <label for="sink_d"></label>
                          <input type="number" name="sink_d" placeholder="d" id="sink_d" class="form">
                    </p>
                    <p>
                          <label for="sink_z"></label>
                          <input type="number" name="sink_z" placeholder="z" id="sink_z" class="form">
                    </p>
                    <p>
                          <label for="sink_y"></label>
                          <input type="number" name="sink_y" placeholder="y" id="sink_y" class="form">
                    </p>
                    <p>
                        <label for="sink_x"></label>
                        <input type="number" name="sink_x" placeholder="x" id="sink_x" class="form">
                    </p>

                <p>Стиральная машина</p>
                    <p>
                          <label for="washer_d"></label>
                          <input type="number" name="washer_d" placeholder="d" id="washer_d" class="form">
                    </p>
                    <p>
                          <label for="washer_z"></label>
                          <input type="number" name="washer_z" placeholder="z" id="washer_z" class="form">
                    </p>
                    <p>
                          <label for="washer_y"></label>
                          <input type="number" name="washer_y" placeholder="y" id="washer_y" class="form">
                    </p>
                    <p>
                        <label for="washer_x"></label>
                        <input type="number" name="washer_x" placeholder="x" id="washer_x" class="form">
                    </p>

            </form>
    </div>

   <div id="select-block-2" class="select-blocks" style="display:none">
       <h1>Введите координаты центра вывода и диаметр:</h1>
       <form>
                <p>Туалет</p>
                    <p>
                          <label for="toilet_d"></label>
                          <input type="number" name="toilet_d" placeholder="d" id="toilet_d" class="form">
                    </p>
                    <p>
                          <label for="toilet_z"></label>
                          <input type="number" name="toilet_z" placeholder="z" id="toilet_z" class="form">
                    </p>
                    <p>
                          <label for="toilet_y"></label>
                          <input type="number" name="toilet_y" placeholder="y" id="toilet_y" class="form">
                    </p>
                    <p>
                        <label for="toilet_x"></label>
                        <input type="number" name="toilet_x" placeholder="x" id="toilet_x" class="form">
                    </p>


                <p >Раковина</p>
                    <p>
                          <label for="sink_d"></label>
                          <input type="number" name="sink_d" placeholder="d" id="sink_d" class="form">
                    </p>
                    <p>
                          <label for="sink_z"></label>
                          <input type="number" name="sink_z" placeholder="z" id="sink_z" class="form">
                    </p>
                    <p>
                          <label for="sink_y"></label>
                          <input type="number" name="sink_y" placeholder="y" id="sink_y" class="form">
                    </p>
                    <p>
                        <label for="sink_x"></label>
                        <input type="number" name="sink_x" placeholder="x" id="sink_x" class="form">
                    </p>

                    <p>Вторая раковина</p>
                    <p>
                          <label for="sink2_d"></label>
                          <input type="number" name="sink2_d" placeholder="d" id="sink2_d" class="form">
                    </p>
                    <p>
                          <label for="sink2_z"></label>
                          <input type="number" name="sink2_z" placeholder="z" id="sink2_z" class="form">
                    </p>
                    <p>
                          <label for="sink2_y"></label>
                          <input type="number" name="sink2_y" placeholder="y" id="sink2_y" class="form">
                    </p>
                    <p>
                        <label for="sink2_x"></label>
                        <input type="number" name="sink2_x" placeholder="x" id="sink2_x" class="form">
                    </p>

                <p>Стиральная машина</p>
                    <p>
                          <label for="washer_d"></label>
                          <input type="number" name="washer_d" placeholder="d" id="washer_d" class="form">
                    </p>
                    <p>
                          <label for="washer_z"></label>
                          <input type="number" name="washer_z" placeholder="z" id="washer_z" class="form">
                    </p>
                    <p>
                          <label for="washer_y"></label>
                          <input type="number" name="washer_y" placeholder="y" id="washer_y" class="form">
                    </p>
                    <p>
                        <label for="washer_x"></label>
                        <input type="number" name="washer_x" placeholder="x" id="washer_x" class="form">
                    </p>

                    <p>Ванна/Душевая кабина</p>
                    <p>
                          <label for="bath_d"></label>
                          <input type="number" name="bath_d" placeholder="d" id="bath_d" class="form">
                    </p>
                    <p>
                          <label for="bath_z"></label>
                          <input type="number" name="bath_z" placeholder="z" id="bath_z" class="form">
                    </p>
                    <p>
                          <label for="bath_y"></label>
                          <input type="number" name="bath_y" placeholder="y" id="bath_y" class="form">
                    </p>
                    <p>
                        <label for="bath_x"></label>
                        <input type="number" name="bath_x" placeholder="x" id="bath_x" class="form">
                    </p>
       </form>
   </div>

   <div id="select-block-3" class="select-blocks" style="display:none">
       <h1>Введите координаты центра вывода и диаметр:</h1>
       <form>
                <p>Туалет</p>
                    <p>
                          <label for="toilet_d"></label>
                          <input type="number" name="toilet_d" placeholder="d" id="toilet_d" class="form">
                    </p>
                    <p>
                          <label for="toilet_z"></label>
                          <input type="number" name="toilet_z" placeholder="z" id="toilet_z" class="form">
                    </p>
                    <p>
                          <label for="toilet_y"></label>
                          <input type="number" name="toilet_y" placeholder="y" id="toilet_y" class="form">
                    </p>
                    <p>
                        <label for="toilet_x"></label>
                        <input type="number" name="toilet_x" placeholder="x" id="toilet_x" class="form">
                    </p>


                <p >Раковина</p>
                    <p>
                          <label for="sink_d"></label>
                          <input type="number" name="sink_d" placeholder="d" id="sink_d" class="form">
                    </p>
                    <p>
                          <label for="sink_z"></label>
                          <input type="number" name="sink_z" placeholder="z" id="sink_z" class="form">
                    </p>
                    <p>
                          <label for="sink_y"></label>
                          <input type="number" name="sink_y" placeholder="y" id="sink_y" class="form">
                    </p>
                    <p>
                        <label for="sink_x"></label>
                        <input type="number" name="sink_x" placeholder="x" id="sink_x" class="form">
                    </p>

                <p>Стиральная машина</p>
                    <p>
                          <label for="washer_d"></label>
                          <input type="number" name="washer_d" placeholder="d" id="washer_d" class="form">
                    </p>
                    <p>
                          <label for="washer_z"></label>
                          <input type="number" name="washer_z" placeholder="z" id="washer_z" class="form">
                    </p>
                    <p>
                          <label for="washer_y"></label>
                          <input type="number" name="washer_y" placeholder="y" id="washer_y" class="form">
                    </p>
                    <p>
                        <label for="washer_x"></label>
                        <input type="number" name="washer_x" placeholder="x" id="washer_x" class="form">
                    </p>

                    <p>Ванна/Душевая кабина</p>
                    <p>
                          <label for="bath_d"></label>
                          <input type="number" name="bath_d" placeholder="d" id="bath_d" class="form">
                    </p>
                    <p>
                          <label for="bath_z"></label>
                          <input type="number" name="bath_z" placeholder="z" id="bath_z" class="form">
                    </p>
                    <p>
                          <label for="bath_y"></label>
                          <input type="number" name="bath_y" placeholder="y" id="bath_y" class="form">
                    </p>
                    <p>
                        <label for="bath_x"></label>
                        <input type="number" name="bath_x" placeholder="x" id="bath_x" class="form">
                    </p>
       </form>
    </div>

<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script>
    $(function() {
        $("#" + $("#select option:selected").val()).show();
        $("#select").change(function(){
            $(".select-blocks").hide();
            $("#" + $(this).val()).show();
        });
    });
</script>

    <form>
        <button type='button' class="button" name="calculate">Рассчитать</button>
    </form>

    </div>
        <div class="column2">
            <p>Визуализация</p>
            <output class="visualization"></output>
        </div>
    </div>



</body>
</html>